<ion-view title="Orders and Requests">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page8">
                <img src="/img/avatar-img.png">
                <h2>FOIS</h2>
                <p>Order ID: 2322323232</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>FOIS</h2>
                <p>Order ID: 2322323232</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>FOIS</h2>
                <p>Order ID: 2322323232</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>