<ion-view title="Order Details">
    <ion-content padding="true" class="has-header">
        <h1>FiOS</h1>
        <ion-list>
            <ion-list>
                <ion-item>ORDER ID : 128238272321</ion-item>
                <ion-item>Delivered On: 15th October 2015</ion-item>
                <ion-item>Customer Name: Jhoe</ion-item>
                <ion-item>Customer Mobile: +1 352 324 5678</ion-item>
                <ion-item>Customer Name: Jhoe</ion-item>
                <ion-item>Customer Name: Jhoe</ion-item>
            </ion-list>
        </ion-list>
        <a href="#/page9" class="button  button-icon button-block button-large">Request For Installation</a>
    </ion-content>
</ion-view>